<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CustomBinding_IUsuarioService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://servicescxs.compline.com.br/SecurityService/UsuarioService.svc"
                binding="basicHttpBinding" bindingConfiguration="CustomBinding_IUsuarioService"
                contract="UsuarioService.IUsuarioService" name="CustomBinding_IUsuarioService" />
        </client>
    </system.serviceModel>
</configuration>